$color-1: #F24B88;
$color-1-1: #fcc3d8;
$color-2: #5317A6;
$color-3: #363159;
$color-4: #3BD9AC;
$color-5: #F26363;

// :export {
//   color1: $color-1;
//   color2: $color-2;
//   color3: $color-3;
//   color4: $color-4;
//   color5: $color-5;
// }